{{!-- 
    Partial deleteAllArticle
    :deleteAllArticle
--}}

<div class="itm">
    <h5>Tous supprimer ?</h5>
    <form action="/user/?_method=DELETE" method="post">
        <button type="submit">Effacer</button>
    </form>
</div>