{{!-- 
    Partial CreateArticle
    :createArticle
--}}

<form action="/article" method="post">
    <input type="text" name="title" placeholder="Title">
    <button type="submit">Confirmer</button>
</form>