{{!-- 
    Partial CreateArticle
    :createArticle
--}}

<form action="/user" method="post">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Confirmer</button>
</form>