{{!-- 
    Partial CreateArticle
    :createArticle
--}}

<form action="/article" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="mail" name="email" placeholder="Email">
    <input type="tel" name="mobile" placeholder="Mobile">
    <button type="submit">Confirmer</button>
</form>