{{!-- 
    Partial CreateArticle
    :createArticle
--}}

<form action="/article" method="post">
    <input type="text" name="title" placeholder="Titre">
    <input type="text" name="subtitle" placeholder="Sous-Titre">
    <button type="submit">Confirmer</button>
</form>