{{!-- 
    Partial list Article
    :listArticle
--}}

<div class="flx">
    {{#each dbArticle }}
    <div class="itm">
        <h3>name: {{ name }}</h3>
        <p>email: {{ email }}</p>
        <p>tel: {{ mobile }}</p>
        <form action="/article/{{ this.id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>
    {{/each }}
</div>