{{!-- 
    Partial list Article
    :listArticle
--}}

<h2><u>Liste Article:</u></h2>
<div class="flx">
    {{#each dbArticle }}
    <div class="itm">
        <h3>Titre: {{ title }}</h3>
        {{!-- Affichage de l'image --}}
        <img src="{{ imgArticle }}" style="heigth: 150px; width: 150px">
        {{!-- Ne pas oublier leenctype="multipart/form-data"--}}
        <form action="/article/{{ this._id }}/?_method=PUT" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title">
            </br>
            {{!-- Pour l'image ATTENTION le imgArticle sera le name récupéré par multer dans le middleware --}}
            <input type="file" name="imgArticle">
            <button type="submit">Editer</button>
        </form>
        {{!-- Ici notre formulaire de suppression d'articleSingle --}}
        <form action="/article/{{ this._id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>
    {{/each }}
</div>