<div class="p-2 row w-100 bg-warning">
    <div class="itm"><a href="/">Home</a></div>
    <div class="itm"><a href="/article">Article</a></div>
    <div class="itm"><a href="/contact">Contact</a></div>
    <div class="itm"><a href="/admin">Admin</a></div>
</div>