<div class="row bg-warning w-100 p-2">
    <div class="itm"><a href="/">Home</a></div>
    <div class="itm"><a href="/article">Article</a></div>
    <div class="itm"><a href="/contact">Contact</a></div>
</div>