<div class="flx">
    <div class="itm"><a href="/">Home</a></div>
    <div class="itm"><a href="/article">Article</a></div>
    <div class="itm"><a href="/contact">Contact</a></div>
    <div class="itm"><a href="/backup">BackUp</a></div>
</div>