{{!-- 
    Partial
    :navbar
--}}

<div class="flx">
    <div class="itm"><a href="/">Home</a></div>
    <div class="itm"><a href="/article">Article</a></div>
    <div class="itm"><a href="/contact">Contact</a></div>
    {{#if CPtiGato }}
        <div class="itm"><a href="#">Se connecter</a></div>
    {{/if}}
</div>
