<!--HEADER=======================================-->
<header class='container-fluid d-flex align-items-center mb-4'>
    <div class="col-md-12 text-center text-white">
        <div>
            <img src="./assets/icons/logo-enzo.png" alt="logo" />
        </div>

        <div class="titre">
            <h1>Artisan Paysagiste</h1>
            <h3>Création de jardins, entretien, térrassement</h3>

        </div>

        <div class="realisations"></div>

        <div class="devis mt-5">
            <button class="text-white font-weight-bold">Demander un devis</button>
        </div>
    </div>
</header>