<h1>Article</h1>

{{#if errors }}
    <h4 style='color: red'> {{ errors }} </h4>
{{/if }}

{{#if success }}
  <h4 style='color: green'> {{ success }} </h4>
{{/if }}

<div>
    <h2><u>Liste Article:</u></h2>
    <div class="flx">
        {{#each dbArticle }}
        <div class="itm">
            <h3>Titre: {{ title }}</h3>
            <form action="/article/{{ this.id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
        </div>
        {{/each }}
    </div>
    <div class="itm">
        <h5>Tous supprimer ?</h5>
        <form action="/article/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>
</div>

<div>
    <form action="/article" method="post">
        <input type="text" name="title" placeholder="Title">
        <button type="submit">Confirmer</button>
    </form>
</div>