{{!-- 
    Page: ArticleID
    /article/:id
--}}

<h1>Article ID</h1>

{{!-- 
    Block de description de l'article
--}}
{{> articleID/descrId }}

{{!-- 
    Block Pour ajouter un Commentaire
--}}
{{> articleID/addComment }}

{{!-- 
    Block de la liste de commentaire
--}}
{{> articleID/listComment }}
