<h1>Home</h1>

<!-- CDN -->
{{!-- Jquery --}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{{!-- Three --}}
<script src="https://www.vantajs.com/vendor/three.r95.min.js"></script>

<!-- Birds -->
<h2>Birds</h2>
<div id='birds'></div>
<script src='https://www.vantajs.com/dist/vanta.birds.min.js'></script>
<script>
  VANTA.BIRDS({
    el: "#birds",
    mouseControls: true,
    touchControls: true,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00
  })
</script>
<!-- /Birds -->