<div class="flx bg-admin">
    <div class="itm"><a class='txt-lime' href="/">Home</a></div>
    <div class="itm"><a class='txt-lime' href="/article">Article</a></div>
    <div class="itm"><a class='txt-lime' href="/contact">Contact</a></div>
</div>