<div class="p-2 row w-100 bg-dark">
    <div class="itm"><a href="/">Home</a></div>
    <div class="itm"><a href="/article">Article</a></div>
    <div class="itm"><a href="/contact">Contact</a></div>
    <div class="itm"><a href="/souka">Souka</a></div>
</div>